# Ignore environment files
.env*
!.env.example

# Ignore node_modules
node_modules/

# Ignore build directories
.next/
out/
dist/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore system files
.DS_Store
